.Home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    align-items: start;
}
::-webkit-scrollbar {
    display: none;
}

.Home>img{
    width: 50%;
    height: 50%;
}