.Home {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 20px; /* spacing between main weather and forecast */
}

.Home > .MainWeatherCard {
    flex-grow: 1;
    min-width: 0; /* prevents overflow */
}


::-webkit-scrollbar {
    display: none;
}

.Home>img{
    width: 50%;
    height: 50%;
}

