.MainWeatherCard {
    width: 100%;
}

.top-info-wrapper {
    position: relative;
    width: 80%;
    margin: 10px 0 10px 10px;
    padding: 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background: rgba(227, 231, 253, 0.65);
    transform: translateY(-20px);
}

.city-name {
    position: absolute;
    top: 8px;
    right: 30px;
    text-align: right;
}

.basic-data {
    width: 40%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.basic-data-wrapper {

    display: flex;
    flex-direction: row;
    align-items: center;
}

.stats {
    margin-left: 20px;

}

.icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    object-fit: contain;
    box-sizing: content-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.temp {
    font-size: 32px;
}

.current-weather-text {
    color: #4a4a4a;
    font-size: 12px;
}

.extra-data {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.humidity,
.wind-speed,
.uv {
    padding: 10px;
    width: 33%;
    margin: 10px;
    border-radius: 20px;
    background: rgba(227, 231, 253, 0.65);
}

.humidity :nth-child(1),
.wind-speed :nth-child(1),
.uv :nth-child(1) {
    color: #4a4a4a;
    font-size: 12px;
}