.MainWeatherCard {
    width: 100%;
}

.top-info-wrapper {
    position: relative;
    width: 50%;
    margin: 10px 0 10px 10px;
    padding: 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background: rgba(227, 231, 253, 0.65);
}

.city-name {
    position: absolute;
    top: 8px;
    right: 30px;
    text-align: right;
}

.basic-data {
    width: 40%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 40px;
    justify-content: flex-end;
    align-items: center;
}

.basic-data-wrapper {
    display: flex;
    flex-direction: row;
}

.icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    object-fit: contain;
    box-sizing: content-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.temp {
    font-size: 32px;
}
.stats{
    margin-left: 20px;
    margin-top: 60px;
}
.stats>p{
   font-size: 12px;
    color: #4a4a4a;
}