.MainLayout {
	height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 15% 85%;
}

header, footer{
grid-column: span 2;
}
header, aside, main, footer{
    border: solid 0.2px grey;
    margin: 0.75px;
    padding: 4px;
    border-radius: 0;
}

main{
overflow: auto;
    min-height: 0;
}

.MainLayout >*{
    font-family: Arial;
}
