.MainLayout {
    background: linear-gradient(45deg,#d2c4bb, #d2c4bb, #b5c3f3,#b5c3f3, #b5c3f3,#b5c3f3,#b5c3f3);
	height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: minmax(70px, 90px) 1fr minmax(40px, 50px);
    grid-template-columns: minmax(150px, 150px) 1fr;
}

header, footer{
grid-column: span 2;
}
header, aside, main, footer{
    border-radius: 20px;
    margin: 10px;
    padding: 4px;
    background: rgba(227, 231, 253, 0.65);
}

footer{
    background: transparent !important;
}
main{
overflow: auto;
    min-height: 0;
}

.MainLayout >*{
    font-family: Arial;
}
