.Header {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
}

.Header > * {
    font-family: Arial;
}
.Header> h3{
    padding-left: 50px;
    color: dodgerblue;
}
