.LocationSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100px;
}


.city-form-control {
    width: 200px !important;
}

.city-select {
    height: 36px !important;
    width: 100% !important;
    font-family: Arial !important;
    padding: 4px 10px !important;
    line-height: 1.2 !important;
    min-height: unset !important;
}


.MuiMenuItem-root {
    height: 36px !important;
    font-family: Arial !important;
    border-radius: 4px;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #ccc !important;
}

.MuiSelect-root {
    font-family: Arial !important;

}

.city-menu-paper {
    max-height: 400px !important;
    overflow-y: auto !important;
}

.search-btn {
    font-family: Arial !important;
}