.ForecastCard {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding:10px;
}

.forecast-date {

}

.forecast-item {
    display: flex;
    flex-direction: row;
}

.forecast-icon {

}

.forecast-time-and-condition {

}

.forecast-temp {

}

.extra-forecast-data {

}

.forecast-stats {

}